<div class="container w-100">
  <div class="row">
    <div class="col-6 offset-3 text-center mt-3">
      <div class="mt-3">
        <%= link_to "会社登録", new_company_registration_path, class: "btn btn-secondary no-link-style" %>
      </div>
      <div class="mt-3">
        <%= link_to "ログイン", new_company_session_path, class: "btn btn-secondary no-link-style" %>
      </div>
    </div>
  </div>
</div>