<%= render "layouts/header" %>
<div class="container w-100">
  <div class="row">
    <h1 class="col-6 offset-3 text-center">社員管理画面</h1>
  </div>
</div>

<table class="table container w-100">
  <tr class="row">
    <th class="col-2 text-center">社員番号</th>
    <th class="col-2 text-center">名前</th>
    <th class="col-2 text-center">電話番号</th>
  </tr>
  <% @company_employees.each do |employee| %>
  <tr class="row">
    <td class="col-2 text-center"><%= employee.id %></td>
    <td class="col-2 text-center"><%= employee.name %></td>
    <td class="col-2 text-center"><%= employee.phone_number %></td>
  </tr>
  <% end %>
</table>


